* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    padding-top: 15px;
    margin-left: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 40x;
}

body {
    background-color: rosybrown;
}

ul {
    list-style-type: none;
}

main {
    display:flex;
    background-color: white;
    height: 200px;
    width: 400px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    justify-content: center;
    
}

.startBtn {
   margin-top: 10px;
   
}

.startBtn:hover {
    background-color: rgb(148, 183, 189);
}

.hide {
    display:none;
}

.question1 {
    font-weight: bold;
}


.nextBtn {
    margin-top: 130px;
}

.nextBtn:hover {
    background-color: rgb(148, 183, 189);

}


.timer {
    font-weight: bold;
    font-size: 25px;

}

